* {
    box-sizing: border-box;
    font-family: 'Amatic SC', cursive;
    ;
}

/* Body styling */
body {
    background-color: gray;
    /* min-height: 100vh; */
}

/* Font Styling */
h1 {
    color: white;
    font-size: 3em;
}
p {
    font-size: 1.5em;
    border: 2px solid black;
}

/* Buttons */
button {
    font-size: 2em;
    /* margin: 1em; */
    }

/* Div stylings */
.questions-box {
    width: 100%;
}

/* Footer and below the fold */
footer {
    display: flex;
    color: white;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 1fr;
}